@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700');

:root {
    font-family: 'Dancing Script', cursive;
}

body {
    background-color: #DCDCDC;
}

.simple_form {
    transform: rotate(-3deg);
}