@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700');

:root {
    font-family: 'Dancing Script', cursive;
}

body {
    background-color: #DCDCDC;
    max-width: 2300px;
    margin: auto; 
    font-family: inherit;
    
}

.container_for_cards {
    margin: 50px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.one_card {
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
}

.card {
    border: none;
    border-radius: 20px;
    box-shadow: 13px 14px 20px 0px #6c757dab;
}

.card-img-top {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card-title {
    text-align: center;
}

.h5, h5 {
    font-size: 1.5rem;
}

.btn-primary {
    color: #000;
    background-color: #FFD800;
    border-color: #000000;
    width: 100%;
}

.btn {
    font-weight: bold;
    font-size: 1.5rem;
}
